main {
    margin-top: 35px;
    margin: 35px auto auto auto;
    width: 90%;
    display: grid;
    grid-gap: 45px;
    grid-template-rows: 500px auto;
    grid-template-columns: 300px auto;
}

.section {
    background-color: aliceblue;
    box-shadow: 10px 10px 0 hsl(180, 100%, 30%);
    border-radius: 2px;
    overflow: hidden;
    position: relative;
}

.item-section {
    overflow: visible;
    transform: translateY(30px);
    height: calc(100% - 30px);
    z-index: 1;
}

.order-section {
    grid-column: span 2;
}

.section>* {
    padding: 15px;
}

.tabs {
    display: grid;
    grid-auto-flow: column;
    width: min-content;
    padding: 0;
    grid-gap: 5px;
    position: absolute;
    transform: translateY(-29px);
    z-index: -1;
}

.tabs>* {
    padding: 5px 30px 5px 30px;
    background-color: aliceblue;
    border-radius: 2px 2px 0 0;
    cursor: pointer;
    position: relative;
}

.tabs>*>shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    box-shadow: 10px 10px 0 hsl(180, 100%, 30%);
    top: 0;
    left: 0;
    z-index: -1;
}

.tabs>*[selected] {
    background-color: hsl(180, 100%, 35%);
    transform: translateY(-5px);
    padding-bottom: 35px;
    z-index: -1;
}

.section header {
    font-size: 2rem;
    color: white;
    background-color: hsl(180, 100%, 35%);
    padding: 5px;
    padding-left: 15px;
}

input[type="text"],
input[type="password"] {
    font-size: 1.2rem;
    height: 2rem;
    width: calc(100% - 20px);
    padding: 5px;
    margin: 5px;
    border-radius: 0;
    background-color: lightgray;
    border-radius: 2px;
    border: none;
    color: black;
    font-family: 'Bebas Neue';
}

#change_pass input {
    width: 90%;
    margin: 0;
}

.column-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.form_label {
    display: block;
}

#change_pass .buttons {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    display: grid;
    width: calc(100% - 30px);
}

button {
    padding: 10px;
    border: none;
    font-family: 'Bebas Neue';
    font-size: 1.15rem;
    margin: 5px;
    cursor: pointer;
    transition: ease-in 150ms;
    border-radius: 2px;
}

button.red {
    background-color: crimson;
    color: white;
}

button.red:hover,
button.red:focus {
    background-color: #f10c3a;
}

button.blue {
    background-color: #00b3b3;
    color: white;
}

button.blue:hover,
button.blue:focus {
    background-color: #00cdcd;
}

#create_item,
#edit_item {
    display: grid;
    grid-template-columns: auto 250px;
}

#tab_remove {
    height: 80%;
}

.bottom_button {
    position: absolute;
    bottom: 10px;
    width: calc(100% - 40px);
}

.remove_grid {
    height: 90%;
    overflow-y: scroll;
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(4, min-content 1fr);
}

.remove_item-checkbox {
    float: right;
}

.remove_item-name {
    margin: 0;
}