body {
    background-color: hsl(180, 100%, 48%);
    margin: 0;
    font-family: 'Bebas Neue';
}


h1 {
    text-align: center;
    font-size: 3rem;
}

.employees {
    margin-top: 35px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, 200px);
    place-content: center;
}

.employee {
    transform: scale(1);
    width: 200px;
    border: outset 5px;
    background-color: rgb(213 210 212);
    height: 200px;
    box-sizing: border-box;
    transition: 50ms ease-out;
    align-items: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 40%);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
    overflow-y: hidden;

    /*
    transform: scale(1);
    width: 215px;
    height: 215px;
    box-sizing: border-box;
    transition: 50ms ease-out;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow-y: hidden;
    border: outset 5px #00f5f5;
    background-color: orange;
    padding: 24px 0 0 3px;
    transition: 50ms ease-out;
    border-radius: 50%;
    */
}

.employee-name {
    font-size: 1.4rem;
}

.employee-image {
    filter: drop-shadow(3px 3px 3px cyan) drop-shadow(-3px -3px 3px blue);
    width: 128px;
    height: 128px;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-pixelated;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    margin-bottom: 10px;
}

.employee p,
.item_popup p {
    font-family: 'Bebas Neue';
    margin: 0;
}