main {
    margin: 35px 0;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content: center;
}

/* FORM BOX */

form {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

.form-box {
    display: flex;
    width: calc(100% - 50px);
    background-color: #fff;
    border: #ddd solid 1px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    flex-direction: column;
}

.form-box * {
    margin-top: 2px;
    margin-bottom: 2px;
}

.label-above {
    display: block;
    margin-bottom: 5px;
}

.label-gray {
    color: #666;
}

.bar {
    display: flex;
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
    border: #ddd solid 1px;
    height: 2rem;
    box-sizing: border-box;
}

.bar input {
    border: none;
    height: 100%;
    border-radius: 4px;
    box-sizing: border-box;
    place-self: center;
}

.bar .stretch {
    flex: 1;
}

.left {
    border-right: #ddd solid 1px;
    display: flex;
}

.left input,
.right input {
    margin-left: 10px;
    margin-right: 10px;
}

.right {
    border-left: #ddd solid 1px;
    display: flex;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.buttons * {
    margin: auto 20px;
    min-width: 5rem;
    text-align: center;
    padding: .75rem;
    text-decoration: none;
    font: inherit;
    color: inherit;
}

.buttons :hover {
    cursor: pointer;
}

.cancel {
    background-color: #a6d1d3;
    border-radius: 5px;
    border: none;
    transition-duration: .2s;
}

.cancel:active,
.cancel:focus,
.cancel:hover {
    background-color: #c0e5e7;
    transform: scale(1.2);
    transition: transform .2s cubic-bezier(.59, -.21, .28, 2.21);
}

.continue {
    background-color: #36b580;
    border-radius: 5px;
    border: none;
    transition-duration: .2s;
}


.continue:active,
.continue:focus,
.continue:hover {
    background-color: #42d799;
    transform: scale(1.2);
    transition: transform .2s cubic-bezier(.59, -.21, .28, 2.21);
}

.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgb(0, 0, 0, 40%);
    z-index: 10;
    transition: 0.4s ease-in-out;
}

.overlay[open=false] {
    transform: translateY(-100vh);
}

.form-item {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.form-item-div {
    display: flex;
    color: black;
    align-items: center;
}

.item_popup-total>a>p::before {
    content: "$"
}

.item_popup-total>a>p::after {
    content: "FCS"
}

.total-diamond::before {
    content: " /";
}

#total-diamond img {
    transform: scale(3);
    margin-left: 15px;
    margin-bottom: 15px;
}

.form-item-total {
    margin-left: auto;
    margin-right: 15px;
}

#total-fcs::before {
    content: "$"
}

#total-fcs::after {
    content: "FCS"
}

@media only screen and (min-width: 768px) {
    form {
        width: 60%;
    } 
}