@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background-color: hsl(180, 100%, 48%);
    margin: 0;
    color: black;
    font-family: 'Bebas Neue';
    font-size: large;
}

*[pixelated=true],
.diamond_inline img {
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-pixelated;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

nav {
    font-family: 'Oswald';
    background-color: hsl(180, 100%, 50%);
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.nav-title {
    font-size: 2.6rem;
    margin: 0;
    margin-left: 10px;
    background-color: rgb(0, 155, 155);
    color: transparent;
    text-shadow: 0px 2px 3px rgb(144 251 255 / 50%);
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
}

.nav-logo {
    width: 3rem;
}

.nav-anchor,
.nav-anchor:focus,
.nav-anchor:visited {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    text-decoration: none;
}

.nav-anchor-right {
    margin-left: auto;
}

main {
    margin-top: 35px;
    place-content: center;
    text-align: center;
}

.main_para {
    width: 90%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.item_table {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

.item_table img {
    padding: 0 10px;
    width: 50px;
    height: 50px;
    filter: drop-shadow(0 0 1px #000);
}

.item_table p {
    width: min-content;
    margin: 2px auto;
}

.item_table td:nth-child(1) {
    display: inline-flex;
    align-items: center;
    border: none;
    padding: 5px;
}

#table_body>tr>td:nth-child(2)::before {
    content: "$";
}

#table_body>tr>td:nth-child(2)::after {
    content: "FCS";
}

.item_table,
.item_table th,
.item_table td,
.item_table tr {
    padding: 0 20px;
    border: 1px solid black;
}

.item_table,
.main_para {
    width: 30%;
}